* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

div {
  border: 5px solid #4285f4;
  width: 250px;
  overflow: hidden;
  margin: 0 auto
    10px;
}

p {
  width: 250px;
  padding: 20px 0;
  text-align: center;
  font-family: 'Baloo Thambi 2', cursive;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.north {
  background-color: #E67676;
}

.south {
  background-color: #A9E6E6;

}