*{
    margin: 0;
    padding: 0;
}

a {
    display: block;
    margin: 15px 5px 0;

    background: black;
    width: 400px;
    height: 30px;
    color: #fff;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10px;
    float: left;
}